.TodoItem-completed {
  text-decoration: line-through;
  color: #a3a1a1;
}
.ToDoItem {
  display: flex;
  align-content: center;

  background-color: #fff;
  border: 0.5px solid #ddd;
  border-top: none;
  box-shadow: -1px 3px 9px rgba(0, 0, 0, 0.2);
}
.buttonDelete-hover {
  opacity: 0.9 !important;
  transform: scale(1) !important;
  transition: 0.3s ease-in-out;
}
.item {
  display: flex;
  flex-grow: 6;
  padding: 2px 10px;

  word-break: break-all;
  cursor: pointer;
}
img {
  display: block;
  width: 32px;
  height: 32px;

  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.buttonDelete {
  color: #cc9a9a;
  background-color: #fff;

  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transform: scale(0.5);

  padding: 0 12px;
  border: none;
  outline: none;
  cursor: pointer;
}
